{% extends "core_layout.html" %}
{% load static %}

{# Connecting the front-end javascript to the template: #}

{% block head_links %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_links %}


{% block js %}
    
	{# Declaring the Price History TimeSeries data in HTML document as JSON:  #}
	{{price_history_index|json_script:'priceHistoryIndex'}}
	{{price_history_close|json_script:'priceHistoryClose'}}
	{{price_pct_change|json_script:'pricePctChangeClose'}}
	{{price_cumsum|json_script:'priceCumSumClose'}}
	{{price_30d_std|json_script:"price30DayStd"}}

	{# Javascript used to generate dynamic js variables #}
	<script type="text/javascript">
		var ticker = "{{ticker}}";
	</script>

	<script src="{% static '/stock_dashboard/js/stock_dashboard_individual_frontend.js' %}"></script>

{% endblock js %}

{% block body %}

<div class="container-fluid border border-dark">
	
	<h2>Financial Dashboard: {{ticker}} </h2>
	<h2 ><a href="{% url 'stock_data_db' %}">All Stocks</a></h2>

	{# Price History TimeSeries Charts #}
	<div class="chart" id="priceTimeSeries"></div>

	{# Volatility Statistics Charts #}
	<div class="container-fluid border border-dark">
		<div class="row">
			<div class="col">
				<div class="chart" id="pricePctChangeHist"></div>
			</div>
			<div class="col">
				<div class="chart" id="priceCummulativeReturnsTimeSeries"></div>
			</div>
		</div>
	</div>

	<div class="container-fluid border border-dark">
		<dir class="chart" id="price30DStdTimeSeries"></dir>
	</div>

</div>

{% endblock body %}